/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-size: 20px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  
  header {
    height: 20vh;
  }

  section {
    min-height: 70vh;
    height: auto;
  }
  .row {
    max-width: 100%;
    margin: 0 auto;
  }
  
  .row:before,
  .row:after {
    content: "";
    display: table;
  }
  
  .row:after {
    clear: both;
  }
  
  .col {
    display: block;
    float: left;
    /* margin: 1% 0 1% 1.6%; */
  }
  
  .col:first-child {
    margin-left: 0;
  }
  
  .span-3-of-3 {
    width: 100%;
  }
  
  .span-2-of-3 {
    width: 66.13%;
  }
  
  .span-1-of-3 {
    width: 32.26%;
    text-align: center;
  }
  
  .navbar{
    border-bottom: 3px solid #eee;
  }
  
  button {
    width: auto;
    border-radius: 20px;
    border-left: 2px solid #45b6fe;
    border-top: 3px solid #45b6fe;
    border-right: 3px solid #72c02c;
    border-bottom: 3px solid #72c02c;
    color: #687074;
    padding: 10px 30px;
    cursor: pointer;
    margin-bottom: 5px;
    font-weight: 600;
    outline: none;
  }
  
  button:disabled {
    border-left: 2px solid #45b6fe;
    border-top: 3px solid #45b6fe;
    border-right: 3px solid #72c02c;
    border-bottom: 3px solid #72c02c;
    color: #687074;
    cursor: not-allowed;
  }
  
  button:hover:enabled{
  color: #687074;
  background-color: #72c02c;
  }
  
  input,
  select {
    width: 80%;
    margin-bottom: 10px;
    color: #687074;
    padding: 10px;
    outline: none;
    border-left: 2px solid #45b6fe;
    border-top: 3px solid #45b6fe;
    border-right: 3px solid #72c02c;
    border-bottom: 3px solid #72c02c;
    border-radius: 5px;
  }
  
  .fa-placholder {
    font-family: "FontAwesome"; 
  }

  .label {
    text-align: right;
    padding: 10px;
  }

  .labelValue{
    text-align: left;
    padding: 10px;
  }
  
  .error {
    color: rgb(206, 22, 22);
    font-size: 14px;
    text-align: center;
  }

  .main {
    height: 100vh;
    background-size: cover;
    background-image: linear-gradient(rgba(38, 150, 241, 0.6), rgba(38, 150, 241, 0.6));
    position: relative;
  }

  .login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 45%;
    width: 25%;
    border-radius: 10px;
    background-color: transparent;
  }
  
  .logo {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    height: 50%;
  }

  .logo img {
    width: 100%;
    height: auto;
  } 
  
  .login-form {
    z-index: 9999;
  }
  
  .nav-logo {
    margin: 1% 0 0 5%;
    float: left;
    width: 10%;
    height: 10%;
  }
  
  
  .main-nav {
    float: right;
    list-style: none;
    margin-right: 5%;
    margin-top: 2%;
  }
  
  .main-nav li {
    display: inline-block;
    padding: 10px;
    font-size: 100%;
    font-weight: 200;
    margin-right: 40px;
    color: #687074;
    cursor: pointer;
    border-bottom: 3px solid transparent;
  }
  
  .main-nav li:hover,
  .main-nav li:first-child {
    border-bottom: 3px solid #72c02c;
    color: #3498db;
  }
  
  .add-contact,
  .addressBook,
  .login{
    border-left: 2px solid #45b6fe;
    border-top: 3px solid #45b6fe;
    border-right: 3px solid #72c02c;
    border-bottom: 3px solid #72c02c;
    border-radius: 10px;
    z-index: 10;
    background-color: #fff;
    color: #687074;
  }

  .add-contact {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 30%;
  }
  
  .add-contact-header {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    padding: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .header-title,
  .close-button {
    font-size: 25px;
    font-weight: 300;
    margin-top: 10px;
  }
  
  .header-title {
    float: left;
    margin-left: 10px;
  }
  
  .close-button {
    float: right;
    margin-right: 10px;
    cursor: pointer;
  }
  
  footer {
    height: 7vh;
    background-color: #45b6fe;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding-top: 20px;
    text-align: center;
    margin-top: 20px;
  }
  
  .contact-header {
    padding-top: 30px;
    text-align: center;
  }
  
  .mobile-menu {
    display: none;
  }
  
  .error-header {
    text-align: center;
  }

  .addressBook{
    width: 60%;
    margin: 20px auto 20px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: relative;
}

.action-bar-delete{
  position: absolute;
  top: 1;
  right: 0;
  color: #687074;
  cursor: pointer;
}

.edit-icon,
.view-icon {
  cursor: pointer;
}

.addressBook-list{
    width: 60%;
    margin: 0 auto;
    border-bottom: 3px solid #72c02c;
    background-color: #45b6fe;
}

.addressBook-list:first-child{
  margin-top: 50px;
}

.search-addressBook{
  color: #687074;
  width: 60%;
  margin: 0 auto;
}

.addressBook-content{
  color: #687074;
  padding: 3px;
  margin: 1%;
  line-height: 140%;
}

.action-bar-column{
  color: #687074;
  padding: 0px;
}

.action-bar-column-list{
  color: #687074;
  padding: 10px;
}

.action-bar{
  float: right;
}

.action-bar-icons{
  border: 1px solid #687074;
  padding: 5px;
  border-radius: 5px;
  margin: 4px;  
}

.span-2-of-2 {
	width: 100%;
}

.span-1-of-2 {
	width: 49.2%;
}
  
  @media screen and (max-width: 1024px) {
    body {
      font-size: 18px;
    }
  
    .main-nav-mobile,
    .main-nav-mobile li {
      display: none;
    }
  
    .main-nav {
      float: right;
    }
  
    .main-nav li {
      font-weight: 600;
      margin-right: 12px;
    }
  
    .mobile-menu {
      display: none;
    }
  
    .add-contact {
      height: auto;
      width: 40%;
    }
  
    .header-title,
    .close-button {
      font-size: 16px;
      font-weight: 500;
    }
  
  
    button {
      border-radius: 12px;
      padding: 7px 12px;
      font-size: 80%;
      margin-bottom: 5px;
      border-left: 2px solid #45b6fe;
      border-top: 3px solid #45b6fe;
      border-right: 3px solid #72c02c;
      border-bottom: 3px solid #72c02c;
    }
  
    .login {
      padding: 0 auto;
      height: 40%;
      width: 30%;
    }

    .addressBook{
      width: 80%;
  }
  
  .addressBook-list{
      width: 80%;
  }

  .search-addressBook{
    width: 80%;
  }
  .nav-logo {
    margin: 1% 0 0 5%;
    float: left;
    width: 20%;
    height: 20%;
  }
  }
  
  @media screen and (max-width: 768px) {
    body {
      font-size: 17px;
    }
  
    button {
      border-radius: 10px;
      padding: 5px 10px;
      font-size: 80%;
      margin-bottom: 5px;
    }
  
    .main-nav-mobile,
    .main-nav-mobile li {
      display: none;
    }
  
    .main-nav {
      float: right;
    }
  
    .main-nav li {
      font-weight: 600;
      margin-right: 10px;
    }
  
    .mobile-menu {
      display: none;
    }
  
    .add-contact {
      height: auto;
      width: 50%;
    }
  
    .header-title,
    .close-button {
      font-size: 15px;
      font-weight: 500;
    }
  
    .login {
      padding: 0 auto;
      height: 50%;
      width: 50%;
    }

    .addressBook{
      width: 80%;
  }
  
  .addressBook-list{
      width: 80%;
  }

  .search-addressBook{
    width: 80%;
  }
  .nav-logo {
    margin: 1% 0 0 5%;
    float: left;
    width: 20%;
    height: 20%;
  }
  }
  
  @media screen and (max-width: 600px) {
    body {
      font-size: 16px;
    }
  
    button {
      width: auto;
      border-radius: 10px;
      padding: 3px 10px;
      font-size: 100%;
      margin-bottom: 5px;
    }
  
    .main-nav,
    .main-nav li {
      display: none;
    }
  
    .main-nav-mobile {
      display: block;
      float: left;
      list-style: none;
      margin-left: 5%;
      margin-top: 5%;
    }
  
    .main-nav-mobile li {
      display: block;
      padding: 10px;
      font-size: 120%;
      font-weight: 600;
      margin-bottom: 10px;
      color: #687074;
    }
  
    .main-nav-mobile li:hover,
    .main-nav-mobile li:first-child {
      border-bottom: none;
      cursor: pointer;
    }
  
    .mobile-menu {
      display: block;
      font-size: 40px;
      color: #687074;
      float: right;
      top: 0;
      right: 0;
      margin: 15px 10px 0 0;
    }
  
    .mobile-menu:hover {
      cursor: pointer;
    }

    .nav-logo {
      margin: 1% 0 0 5%;
      float: left;
      width: 20%;
      height: 20%;
    }

    .addressBook{
      width: 80%;
  }
  
  .addressBook-list{
      width: 80%;
  }
  
    .add-contact {
      height: auto;
      width: auto;
      text-align: center;
    }
  
    .add-contact-header {
      width: 100%;
      height: 40px;
      margin-bottom: 10px;
      padding: 0px;
    }
  
    .header-title,
    .close-button {
      font-size: 15px;
      font-weight: 500;
      margin-top: 5px;
    }
  
    .login {
      padding: 0 auto;
      height: 50%;
      width: 50%;
    }
  
    .search-input {
      float: none;
      margin-top: 20px;
      padding: 0 auto;
      width: 80%;
    }

    .search-addressBook{
      width: 80%;
    }
  }

.toggle-button{
width: 80%;
}
  